*{
  box-sizing: border-box;
  font-family: sans-serif;
  color: #3a0050;
}
.wrapper{
  max-inline-size: 80ch;
  margin: 0 auto;
  padding: 0 0.125em;
}
h1, h2, h3, h4, h5{
  text-transform: uppercase;
  font-style: oblique;
  margin: 0.25em 0;
}
h4{
  padding: 1rem 0;
  border-block-start: thin solid #3a0050;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5%;
  & h1{
    font-size: 3rem;
  }
}
main{
  min-block-size: 75vb;
}
main, section, .card, .projectart{
  display: flex;
  flex-direction: column;
}
main h1{
  inline-size: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-block-end: thick double #3a0050;
  align-self: center;
  position: sticky;
  top: 0;
  margin: 0;
}
.sticky{
  position: sticky;
  top: 0;
  margin: 0;
  background-color: #fff;
  border-block-end: thick double #3a0050;
  & + div{
    border-block-start: none;
  }
  & time{
    font-size: 1.25rem;
  }
}
button{
  font-size: 1.25rem;
  font-weight: bold;
  font-variant: small-caps;
  padding: 0.15lh 0.5ch;
  cursor: pointer;
}
.pagehead{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 5% 1rem;
  z-index: 1;
}
.pagenav ol{
  display: flex;
  column-gap: 1vi;
  list-style: none;
  padding: 0;
  margin: 0;
}
button[data-link="today"], #btnexpand{
  border-radius: 0;
  border: thin solid #3a0050;
  background-color: #fff;
}
#btnexpand{
  inline-size:14.05ch;
}
#btnexpand:focus{
  outline: thin solid #0000ff;
}
#navexpand{
  position: absolute;
  top: 5.5lh;
  block-size: 1.5lh;
  z-index: -1;
  transition: 300ms;
  & li{
    rotate: x 90deg;
    block-size: 0;
    padding-block-start: 0;
    transition: 300ms;
  }
  & button{
    inline-size:14ch;
    border-radius: 0;
    border: thin solid #3a0050;
    background-color: #fff;
    &:focus{
      outline: thin solid #0000ff;
    }
  }
}
#btnexpand:is(:hover, :focus) + #navexpand, #btnexpand + #navexpand:is(:hover, :focus-within){
  top: 7lh;
  block-size: 6.5lh;
  & li{
    rotate: x 0deg;
    padding-block-start: 0.5rem;
    block-size: auto;
  }
}
#navexpand ol{
  flex-direction: column;
  background-color: #fff;
}
section{
  border-block-end: thick double #3a0050;
  padding-block-end: 0.5rem;
  & > div{
    padding: 0 5%;
    padding-block-start: 1rem;
    border-block-start: thick double #3a0050;
    & > time{
      font-weight: bold;
      font-size: 1.25rem;
    }
  }
}
section > div:first-child{
  border-block-start: none;
}
#sectioncap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headpart{
  border-block-end: medium double #3a0050;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap: 2rem;
  & h2{
    flex: 1;
  }
}
.projblock{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 0.5rem;
  gap: 0.5rem;
}
.projectart{
  flex: 1;
  justify-content: center;
  & p{
    margin: 0;
  }
}
.projectcap{
  display: flex;
  justify-content: space-between;
  align-items: start;
  & + .wrapping{
    border-block-start: thin dotted  #3a0050;
  }
}
.wrapping{
  display: flex;
  justify-content: flex-start;
  align-items: start;
  font-size: 1.125rem;
  gap: 0.5rem;
  padding: 0.5rem 0;
  & span{
    font-weight: bold;
  }
}
.checkpas{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.projectinfo{
  border-block-start: thin dotted #3a0050;
  padding: 0.5rem 0;
  text-align: center;
  & p::first-line{
    font-weight: bold;
  }
}
.card{
  inline-size: 90%;
  align-self: center;
  border: thin solid #3a0050;
  margin-block-end: 0.25rem;
}
.revise, .deletarticle, .reviseproj, .research, .delproject{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: thin solid #3a0050;
    border-radius: 0.5rem;
    inline-size: 2.75rem;
    block-size: 2.75rem;
    font-size: 2rem;
    padding: 0;
    margin: 0.25rem 0;
}
 #rightarrow, #leftarrow{
    display: flex;
    justify-content: center;
    align-items: start;
    inline-size: 2.5rem;
    block-size: 2.5rem;
    font-size: 2.5rem;
    line-height: 0.55;
    border: none;
    background-color: transparent;
}
.mainArticle{
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 0.5rem;
  font-size: 1.125rem;
  background-color: #f7f7f7;
  padding: 0 0.5rem;
}
.status, .priority{
  font-size: 1.5rem;
}
.status{
  cursor: pointer;
  &.checked{
    color: #006400;
  }
}
.priority{
  flex: 1;
  color: #006400;
  text-align: center;
  &.high{
    color: #dc143c;
  }
  &.low{
    color: #3a0050;
  }
}
.mainArticle p{
  flex: 6;
  text-align: center;
  margin: 0.5lh 0;
}
.addition{
  padding: 0.25rem 2.5%;
  border-block-start: thin dotted #3a0050;
}
.hourdate{
  font-size: 1.25rem;
  padding: 2px;
  &.isready{
    outline: thick solid #00640075;
    background-color: #006400;
    text-decoration-line: line-through;
    text-decoration-thickness: 0.25rem;
    color: #fff;
  }
  &.towork{
    outline: thick solid #00640090;
  }
  &.expired{
    outline: thick solid #ffd700;
    background-color: #dc143c;
    color: #fff;
  }
  &.towork.expired{
    outline: thick solid #00640050;
    background-color: #ffffbb;
    color: inherit;
  }
}
.paraready{
  text-decoration-line: line-through;
  text-decoration-thickness: 0.125rem;
}
fieldset{
  display: flex;
  flex-direction: column;
}
label{
  margin-block-start: 1rem;
}
.btnwrap{
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}
.alert{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 0 5%;
  background-color: #3a0050;
  & p{
    font-size: 1.25rem;
    color: #fff;
    margin: 0;
    & span, & time{
      color: inherit;
    }
    & span{
      font-size: 1.5rem;
      font-weight: bold;
      font-variant: small-caps;
    }
  }
}
span.error{
  padding: 0.5rem;
  font-weight: bold;
  background-color: #3a0050;
  color: #fff;
}
#footerContent{
  display: flex;
  padding: 0.5rem;
  & p{
    display: block;
    margin: 0;
    font-size: 1.75rem;
    line-height: 0.8;
  }
}
